In [8]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.options.display.max_rows = 200

df = pd.read_csv('/kaggle/input/sistema-de-informaes-hospitalares-sus/RD202401.csv', sep=';')
df.head()

/tmp/ipykernel_37/2959713704.py:8: DtypeWarning: Columns (87,88,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/kaggle/input/sistema-de-informaes-hospitalares-sus/RD202401.csv', sep=';')
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2024,1,3,4.034526e+12,1224100031374,1,69911814,120040,19560415,...,NaN,0,0,0,0,0,0,0,0,0
1,120000,2024,1,3,4.034526e+12,1224100031539,1,69900970,120040,19520515,...,NaN,0,0,0,0,0,0,0,0,0
2,120000,2024,1,3,4.034526e+12,1224100031550,1,69934000,120025,19980315,...,NaN,0,0,0,0,0,0,0,0,0
3,120000,2024,1,3,4.034526e+12,1224100031650,1,69900100,120040,19460726,...,NaN,0,0,0,0,0,0,0,0,0
4,120000,2024,1,3,4.034526e+12,1224100031814,1,69900970,120040,20200313,...,NaN,0,0,0,0,0,0,0,0,0


### üè• **Utiliza√ß√£o e Demanda por Servi√ßos de Sa√∫de**

* Quantas interna√ß√µes hospitalares ocorreram por m√™s em cada munic√≠pio ou estado (UF)?
* Quais s√£o as tend√™ncias nas interna√ß√µes hospitalares ao longo do tempo (sazonalidade, crescimento ou redu√ß√£o)?
* Quais regi√µes apresentam as maiores (ou menores) taxas de interna√ß√£o per capita?
* H√° diferen√ßas nas tend√™ncias de interna√ß√£o entre √°reas urbanas e rurais?

---

### ‚öïÔ∏è **Padr√µes de Doen√ßas e Diagn√≥sticos**

* Quais s√£o as principais causas de interna√ß√£o (por c√≥digo CID-10)?
* Como variam os padr√µes de doen√ßas espec√≠ficas (ex.: dengue, diabetes, infec√ß√µes respirat√≥rias) por regi√£o ou esta√ß√£o do ano?
* Existem surtos regionais ou picos de determinadas doen√ßas?
* Como evolu√≠ram as interna√ß√µes por doen√ßas cr√¥nicas ao longo do tempo?

---

### üßë‚Äç‚öïÔ∏è **Procedimentos e Tratamentos**

* Quais s√£o os procedimentos m√©dicos mais realizados nos hospitais p√∫blicos?
* Como a distribui√ß√£o dos tipos de procedimento varia entre as regi√µes (ex.: mais cirurgias em centros urbanos)?
* Qual √© a m√©dia de procedimentos por interna√ß√£o?
* H√° diferen√ßas nos tipos de procedimentos segundo caracter√≠sticas dos pacientes (se dispon√≠veis)?

---

### ‚è±Ô∏è **Tempo de Interna√ß√£o e Uso de Recursos**

* Qual √© a dura√ß√£o m√©dia das interna√ß√µes por diagn√≥stico, regi√£o ou tipo de hospital?
* Como o tempo de interna√ß√£o varia ao longo do tempo ou entre doen√ßas?
* Quais regi√µes apresentam maiores taxas de ocupa√ß√£o de leitos (proxy: total de dias de interna√ß√£o)?
* √â poss√≠vel identificar inefici√™ncias (ex.: longas interna√ß√µes para casos de baixa gravidade)?

---

### üí∏ **Custos e Efici√™ncia do Sistema de Sa√∫de** *(se houver dados financeiros)*

* Qual √© o custo total das interna√ß√µes por UF, diagn√≥stico ou procedimento?
* Como os gastos com interna√ß√µes evolu√≠ram ao longo do tempo?
* Quais regi√µes t√™m maior custo m√©dio por paciente ou por interna√ß√£o?

---

### üìä **Sa√∫de P√∫blica e Avalia√ß√£o de Pol√≠ticas**

* Interven√ß√µes espec√≠ficas (ex.: campanhas de vacina√ß√£o) impactaram as tend√™ncias de interna√ß√£o?
* Como eventos importantes (como a COVID-19 ou desastres naturais) afetaram as interna√ß√µes hospitalares?
* H√° correla√ß√£o entre indicadores socioecon√¥micos (se vinculados) e taxas de interna√ß√£o?

In [9]:
df.dtypes

UF_ZI           int64
ANO_CMPT        int64
MES_CMPT        int64
ESPEC           int64
CGC_HOSP      float64
N_AIH           int64
IDENT           int64
CEP             int64
MUNIC_RES       int64
NASC            int64
SEXO            int64
UTI_MES_IN      int64
UTI_MES_AN      int64
UTI_MES_AL      int64
UTI_MES_TO      int64
MARCA_UTI       int64
UTI_INT_IN      int64
UTI_INT_AN      int64
UTI_INT_AL      int64
UTI_INT_TO      int64
DIAR_ACOM       int64
QT_DIARIAS      int64
PROC_SOLIC      int64
PROC_REA        int64
VAL_SH        float64
VAL_SP        float64
VAL_SADT      float64
VAL_RN        float64
VAL_ACOMP     float64
VAL_ORTP      float64
VAL_SANGUE    float64
VAL_SADTSR    float64
VAL_TRANSP    float64
VAL_OBSANG    float64
VAL_PED1AC    float64
VAL_TOT       float64
VAL_UTI       float64
US_TOT        float64
DT_INTER        int64
DT_SAIDA        int64
DIAG_PRINC     object
DIAG_SECUN      int64
COBRANCA        int64
NATUREZA        int64
NAT_JUR         int64
GESTAO          int64
RUBRICA         int64
IND_VDRL        int64
MUNIC_MOV       int64
COD_IDADE       int64
IDADE           int64
DIAS_PERM       int64
MORTE           int64
NACIONAL        int64
NUM_PROC      float64
CAR_INT         int64
TOT_PT_SP       int64
CPF_AUT       float64
HOMONIMO        int64
NUM_FILHOS      int64
INSTRU          int64
CID_NOTIF      object
CONTRACEP1      int64
CONTRACEP2      int64
GESTRISCO       int64
INSC_PN         int64
SEQ_AIH5        int64
CBOR            int64
CNAER           int64
VINCPREV        int64
GESTOR_COD      int64
GESTOR_TP       int64
GESTOR_CPF      int64
GESTOR_DT     float64
CNES            int64
CNPJ_MANT     float64
INFEHOSP      float64
CID_ASSO        int64
CID_MORTE       int64
COMPLEX         int64
FINANC          int64
FAEC_TP       float64
REGCT           int64
RACA_COR        int64
ETNIA           int64
SEQUENCIA       int64
REMESSA        object
AUD_JUST       object
SIS_JUST       object
VAL_SH_FED    float64
VAL_SP_FED    float64
VAL_SH_GES    float64
VAL_SP_GES    float64
VAL_UCI       float64
MARCA_UCI       int64
DIAGSEC1       object
DIAGSEC2       object
DIAGSEC3       object
DIAGSEC4       object
DIAGSEC5       object
DIAGSEC6       object
DIAGSEC7       object
DIAGSEC8      float64
DIAGSEC9      float64
TPDISEC1        int64
TPDISEC2        int64
TPDISEC3        int64
TPDISEC4        int64
TPDISEC5        int64
TPDISEC6        int64
TPDISEC7        int64
TPDISEC8        int64
TPDISEC9        int64
dtype: object

In [10]:
problem_cols = [87, 88, 96, 97, 98, 99, 100, 101]
[df.columns[i] for i in problem_cols]

['AUD_JUST',
 'SIS_JUST',
 'DIAGSEC2',
 'DIAGSEC3',
 'DIAGSEC4',
 'DIAGSEC5',
 'DIAGSEC6',
 'DIAGSEC7']

In [11]:
df[['AUD_JUST',
 'SIS_JUST',
 'DIAGSEC2',
 'DIAGSEC3',
 'DIAGSEC4',
 'DIAGSEC5',
 'DIAGSEC6',
 'DIAGSEC7']]

,AUD_JUST,SIS_JUST,DIAGSEC2,DIAGSEC3,DIAGSEC4,DIAGSEC5,DIAGSEC6,DIAGSEC7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1107872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
!ls /kaggle/input/sistema-de-informaes-hospitalares-sus

RD202401.csv  RD202404.csv  RD202407.csv  RD202410.csv
RD202402.csv  RD202405.csv  RD202408.csv  RD202411.csv
RD202403.csv  RD202406.csv  RD202409.csv  RD202412.csv

In [13]:
df[df['UF_ZI'] == 290000]

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
38478,290000,2024,1,3,1.393713e+13,2924104747729,1,40325480,292740,19650316,...,NaN,0,0,0,0,0,0,0,0,0
38479,290000,2024,1,3,NaN,2924104895998,1,41320725,292740,19890305,...,NaN,0,0,0,0,0,0,0,0,0
38480,290000,2024,1,3,NaN,2924104896163,1,41295170,292740,20000824,...,NaN,0,0,0,0,0,0,0,0,0
38481,290000,2024,1,7,1.393713e+13,2923109917068,1,45305000,291030,20240106,...,NaN,0,0,0,0,0,0,0,0,0
38482,290000,2024,1,7,1.393713e+13,2924104753229,1,44180000,290170,20221218,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98473,290000,2024,1,3,1.393713e+13,2924104542975,1,44420000,292060,19701111,...,NaN,0,0,0,0,0,0,0,0,0
98474,290000,2024,1,3,1.393713e+13,2924104543173,1,41370160,292740,19620530,...,NaN,0,0,0,0,0,0,0,0,0
98475,290000,2024,1,3,1.393713e+13,2924104543250,1,41180170,292740,19601125,...,NaN,0,0,0,0,0,0,0,0,0
98476,290000,2024,1,3,1.393713e+13,2924104543305,1,42721160,291920,19580930,...,NaN,0,0,0,0,0,0,0,0,0
98477,290000,2024,1,3,1.393713e+13,2924104545109,1,44400000,292250,19830617,...,NaN,0,0,0,0,0,0,0,0,0

In [17]:
df['UF_ZI'].nunique()

2134